{% extends 'zapatillas/base.html'%}
{% block contenido %}
{% load humanize %}
{% load static %}


<center><h1>Carrito de Compras</h1></center>
<section class="container">
  <div class="table-hover table-responsive mt-5">    
    <table class="table table-striped]" >
      
        <tr>
          <th>Producto</th>
          <th>Imagen</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Acciones</th> <!-- Agregar una columna para las acciones -->
        </tr>
      
      <tbody>
        {% for item in item_carrito %}
          <tr>
            <td>{{ item.producto }}</td>
            {% if item.producto.imagen %}
              <td><img src="{{item.producto.imagen.url}}" alt="img Producto" class="w-25"></td>
            {% endif %} 
            <td> ${{ item.producto.precio | intcomma}}</td>
            <td>{{ item.quantity }}</td>
            <td>
              <form action="{% url 'eliminar_carrito' item.id %}" method="POST">
                {% csrf_token %}
                <button type="submit">Eliminar</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  <button><a href="#">Realizar Pago</a></button>
</section>




{% endblock %}