{% extends 'zapatillas/base.html'%}
{% block contenido %}
{% load humanize %}
{% load static %}

<!––« carousel «––>
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active">

      <img src="{% static 'zapatillas/img/imagen_carrusel_4.jpg' %}" class="d-block w-100" alt="zap1">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'zapatillas/img/imagen_carrusel_kobe.png'%}" class="d-block w-100" alt="zap2">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'zapatillas/img/tatum-1.png'%}" class="d-block w-100" alt="zap3">
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

  <center><h1>Las Mejores Ofertas!</h1></center>
<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <a href="#">
        <div class="card">
        <img src="{% static 'zapatillas/img/Kyrie_Infinity_Gris.png' %}" class="card-img-top" alt="kyrie">
        <div class="card-body">
          <h5 class="card-title">Kyrie Infinity</h5>
          <p class="card-text">$90.000</p>
        </div>
      </div></a>
    </div>
    <div class="col">
      <a href="#">
      <div class="card">
        <img src="{% static 'zapatillas/img/Kd15_Gris.png' %}" class="card-img-top" alt="kd15">
        <div class="card-body">
          <h5 class="card-title">KD 15</h5>
          <p class="card-text">$100.000</p>
        </div>
      </div></a>
    </div>
    <div class="col">
      <a href="#">
        <div class="card">
        <img src="{% static 'zapatillas/img/ja1.png' %}" class="card-img-top" alt="zf4">
        <div class="card-body">
          <h5 class="card-title">Ja1</h5>
          <p class="card-text">$125.000</p>
        </div>
      </div></a>
    </div>
    <div class="col">
      <a href="#"><div class="card">
        <img src="{% static 'zapatillas/img/Trae_Young.png' %}" class="card-img-top" alt="Trae_Young">
        <div class="card-body">
          <h5 class="card-title">Trae Young</h5>
          <p class="card-text">$120.000</p>
        </div>
      </div></a>
    </div>
  </div>
</div>

{% endblock %}
