{% extends 'zapatillas/base.html'%}
{% block contenido %}
{% load static %}


  <div class="container-fluid">
    <div class="texto"> 
      Como fanáticos de las zapatillas sabemos que en chile hay muy poca variedad de zapatillas deportivas, por eso creamos este proyecto en base a brindarles la mejor calidad de zapatillas deportivas exportadas de UU.EE Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quisquam labore id molestias fugiat exercitationem vitae itaque odio ipsa veritatis earum totam accusantium deserunt qui eaque, quia quam laudantium quo!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae cum repellat sit quod. Repudiandae enim in nisi vel aperiam? Ipsam ut et accusantium quia quibusdam commodi tempora expedita cum veniam?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate, enim dolorem corporis mollitia quisquam ipsum facilis rem ipsa dicta officiis consequuntur architecto officia qui, sint ducimus exercitationem magnam corrupti reiciendis?
    </div>
  </div>

  <center><h1> Encuentranos acá </h1></center>

  <div id="map"></div>
    
    <script src="zapatillas/js/scrip.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>
    <br> 

    
    {% endblock %}    
    
    

    