<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zapatillas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>
   
    <div class="contenedor">
        <header id="header">
  <div class="container-fluid">  
    <nav class="navbar navbar-expand-lg bg-body-tertiary" >
      <div class="container-fluid">
        <a class="navbar-brand" href="Index.html">Inmortal's</a>
        <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="Sobre Nosotros.html" >Sobre Nosotros</a>
            </li>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="Zapatillasd Basquetball.html" >Zapatillas</a>
                  </li>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="carrito.html" >Carrito</a>
                      </li>
          </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form> 
        </div>
      </div>
    </nav> 
    </div>  
      <center><h2><br></h2></center>

    <div class="titulo">
        <h1><center>Nike Ja 1</h1></center><br>
    </div>
<div class="container-fluid">
    <img src="Imagenes zapatillas/Zf4.png" alt="" height="200" width=480>

    <img src="Imagenes zapatillas/suelaZf4.png" alt="" height="200" width="480">

    <img src="Imagenes zapatillas/parZf4.png" alt="" height="200" width="480">
  </div>
<!-- descrpcion -->

<div class="container"> <center><br>One of the coldest on the hardwood, jordanXXXVII is absolutely fearless.
  He'll take any shot at any time, and when it's all on the line, look 
  out, because jordan is about to steal the show. <br>The newest signature 
  shoes from adidas Basketball and Kyrie Infinity are all about agility and
  speed, the two elements that make Trae so dynamic. BOOST and Lightstrike 
  work in tandem with an <br>adaptive SCK360, semi-laceless upper to deliver 
  enhanced comfort and game-changing support.</center><br><br>
</div>


    <!-- Tallas -->
  <div class="container-fl">
    <h1>&nbsp;&nbsp;Tallas</h1>&nbsp;&nbsp;&nbsp;&nbsp;
</button>
<button type="button" class="btn btn-dark">40</button>
&nbsp;&nbsp;

</button>
  <button type="button" class="btn btn-dark">41</button>
  &nbsp;&nbsp;

</button>
<button type="button" class="btn btn-dark">42</button>
&nbsp;&nbsp;

<button type="button" class="btn btn-dark">43</button>
</button>
&nbsp;&nbsp;

<button type="button" class="btn btn-dark">44</button>
</button>
&nbsp;&nbsp;

<button type="button" class="btn btn-dark">45</button>
</button>
&nbsp;&nbsp;

<button type="button" class="btn btn-dark">46</button>
</button>

    <!-- btn envio gratis -->&nbsp;&nbsp;
<br><br>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Agregar al carrito 
  </button>

  <!-- btn Precio y agregar carrito -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Datos del Producto </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              Precio: $134.000&nbsp; <br>
              Su envio sera Gratis!!!
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Seguir Comprando</button>
            <a href="Carrito.html"><button type="button" class="btn btn-primary">Finalizar Compra</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!––« footer «––>
  <div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="Index.html">Inicio</a></li>
            <li class="list-inline-item"><a href="#">Servicios</a></li>
            <li class="list-inline-item"><a href="Sobre Nosotros.html">Sobre Nosotros</a></li>
            <li class="list-inline-item"><a href="#">Terminos</a></li>
            <li class="list-inline-item"><a href="#">Politicas de Privacidad</a></li>
        </ul>
        <p class="copyright">Inmortal's © 2023</p>
    </footer>
</div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
    
</body>
</html>
